<%- include partials/header.ejs %> <%- include partials/mainNav.ejs %>

<!--Login Form-->
<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <h1 class="text-center mb-3">Login Page</h1>
    <%- include partials/messages.ejs %>
    <form action="/users/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="Enter Username"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter Password"
          required
        />
      </div>
      <button type="submit" class="btn btn-outline-primary mt-1">Login</button>
    </form>
  </div>
</div>
<%- include partials/footerNav.ejs %> %> <%- include partials/footer.ejs %>
